<%- include('../layout/header'); %>

<div class="main">
    <div class="container">
      <div class="content">
        <% posts.forEach(function(post) { %>
          <div class="post">
            <div class="top">
              <h2>
                <a href="/posts/<%=post.url %>">
                  <%=post.title %>
                </a>
              </h2>
            </div>
            <div class="body">
              <p><%=post.body %></p>
            </div>
            <div class="bottom">
              <div class="author">
                Автор:
                <a href="/users/<%=post.owner.login %>">
                  <%=post.owner.login %>
                </a>
              </div>
              <div class="date-post">
                Дата: <%=moment(post.createdAt).format('MMM-DD-YYYY') %>
                </a>
              </div>
              <% if (user.login==post.owner.login) {%>
              <div class="delete-link">                
                <a href="/post/delete/<%=post.id %>">
                  Удалить
                </a>                
              </div>
              <% } %>
            </div>
          </div>
          <% }); %>

            <div class="pagination">
              <% if (current > 2) { %>
                <a class="new" href="/archive/<%= Number(current) - 1 %>">← К новым</a>
                <% } %>
                  <% if (current == 2) { %>
                    <a class="new" href="/">← На главную</a>
                    <% } %>
                      <% if (pages > 0 && current < pages) { %>
                        <a class="old" href="/archive/<%= Number(current) + 1 %>">К старым →</a>
                        <% } %>
        </div>
      </div>
      <%- include('../layout/sidebar'); %>
    </div>
  </div>

<%- include('../layout/footer'); %>