<%- include('../layout/header'); %>

<div class="main">
  <div class="container">
    <div class="content">
      <% posts.forEach(function(post) { %>
      <div class="post">
        <div class="top">
          <h2>
            <a href="/posts/<%=post.url %>">
              <%=post.title %>
            </a>
          </h2>
        </div>
        <div class="body">
          <p><%=post.body %></p>
        </div>
        <div class="bottom">
          <div class="author">
            Автор:
            <a href="/users/<%=post.owner.login %>">
              <%=post.owner.login %>
            </a>
          </div>
          <div class="date-post">
            Дата: <%=moment(post.createdAt).format('MMM-DD-YYYY') %>
            </a>
          </div>
          <div class="delete-link">
            <% if (user.login==post.owner.login) {%>
            <a href="/post/delete/<%=post.id %>">
              Удалить
            </a>
            <% } %>
          </div>
        </div>
      </div>
      <% }) %>

      <div class="pagination">
        <% if (current > 2) { %>
        <a          class="new"
          href="/users/<%=_user.login %>/<%= Number(current) - 1 %>"
          >← Назад</a        >
        <% } %> 
        <% if (current == 2) { %>
        <a class="new" href="/users/<%=_user.login %>">← На главную</a>
        <% } %> 
        <% if (pages > 0 && current < pages) { %>
        <a
          class="old"
          href="/users/<%=_user.login %>/<%= Number(current) + 1 %>"
          >Вперед →</a
        >
        <% } %>
      </div>
    </div>

    <%- include('../layout/sidebar'); %>
  </div>
</div>

<%- include('../layout/footer'); %>
