<%- include('../layout/header'); %>

  <div class="main">
    <div class="container">
      <div class="content add-post">        
        <form method="post" class="post-form">
          <h2>Добавление поста</h2>
          <div class="form-group">
            <label for="post-title" class="add-titles">Заголовок</label>
            <input type="text" id="post-title" name="title" class='title-input' />
          </div>
          <div class="form-group">
            <label for="post-body" class="add-titles">Текст</label>
            <div id="post-body"></div>
          </div>
          <div class="buttons">
            <button class="publish-button">Опубликовать</button>
          </div>
        </form>
      </div>
      <%- include('../layout/sidebar'); %>
    </div>
  </div>

<%- include('../layout/footer'); %>