<%- include('../layout/header'); %>

<div class="main">
  <div class="container">
    <div class="content">

      <div class="post">
        <div class="top">
          <h2>
            <%=post.title %>
          </h2>
        </div>
        <div class="body">
          <p><%=post.body %></p>
        </div>
        <div class="bottom">
          <div class="author">
            Автор:
            <a href="/users/<%=post.owner.login %>"><%=post.owner.login %></a>
          </div>
        </div>
      </div>



    </div>

    <%- include('../layout/sidebar'); %>

  </div>
</div>

<%- include('../layout/footer'); %>