:root {
    --font-primary: "Rokkitt", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--color-text);
    line-height: 1.55;
}

h1, h2, h3, h4, form legend {
    color: var(--color-text-heading);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
    font-size: var(--text-xxxl);
}

h1, .text--xxl {
    font-size: var(--text-xxl);
}

h2, .text--xl {
    font-size: var(--text-xl);
    margin-bottom: 24px;
}

h3, .text--lg {
    font-size: var(--text-lg);
    margin-bottom: 10px;
}

h4, .text--md {
    font-size: var(--text-md);
    margin-bottom: 10px;
}

.text--sm, small {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(--text-xs);
}

p {
    line-height: var(--body-line-height);
}

div.success,
p.success,
div.error,
p.error {
  background-color: lighten($successColor, 50%);
  border: 1px solid $successColor;
  font-size: 0.8em;
  padding: $freeSpace / 2;
  color: $successColor;
  border-radius: $borderRadius;
}

div.error,
p.error {
  background-color: lighten($errorColor, 45%);
  border-color: $errorColor;
  color: $errorColor;
}