.footer {
    display: flex;
    flex-direction: column;
    height: $footerHeight;
    border-top: 1px solid $greyColor;
    background-color: $footerColor;
  
    .container {
      height: 100%;
      line-height: $footerHeight;
      color: $whiteColor;
    }
  }