form {
    display: flex;
    flex-direction: column;
  
    .form-group {
      margin-bottom: $freeSpace;
  
      label {
        font-size: 0.9em;
      }
    }
  }
  
  button,
  .button {
    color: $whiteColor;
    background-color: $primaryColor;
    font-size: 14px;
    border: 1px solid $primaryColor;
    cursor: pointer;
    height: 33px;
    padding-left: $freeSpace;
    padding-right: $freeSpace;
    display: flex;
    align-items: center;
    border-radius: $borderRadius;
  
    &:active {
      box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    }
    &:hover {
      text-decoration: none;
    }
    &.inverse {
      color: $primaryColor;
      background-color: $whiteColor;
    }
    &.secondary {
      background-color: $secondaryColor;
      border: 1px solid $secondaryColor;
    }
    &.secondary-inverse {
      color: $secondaryColor;
      background-color: $secondaryColor;
      background-color: $whiteColor;
    }
  }
  
  input,
  textarea {
    background-color: $whiteColor;
    border: 1px solid $greyColor;
    display: table;
    border-collapse: separate;
    overflow: hidden;
    position: relative;
    width: 100%;
    font-size: 14px;
    border-radius: $borderRadius;
  
    &:disabled {
      background-color: $greyColor;
    }
  
    &:hover {
      box-shadow: 0;
    }
    &:focus {
      border-color: lighten($primaryColor, 40%);
    }
    &::placeholder {
      opacity: 0.8;
      font-style: italic;
    }
  }
  
  input {
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
  }
  textarea {
    padding: 8px 10px;
    min-height: 80px;
}

input,
textarea,
div {
  &.error {
    border-color: $errorColor !important;
    color: $errorColor;
    &::placeholder {
      color: lighten($errorColor, 20%);
    }
  }
}