  
.container {
    align-self: center;
    display: flex;
  }
  
  /* Portrait tablets and medium desktops */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  /* Portrait tablets and small desktops */
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 750px;
    }
  }
  
  /* Landscape phones and portrait tablets */
  @media (max-width: 767px) {
    .container {
      width: 100%;
    }
  }