.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: $headerHeight;
    font-size: 15px;
    background-color: $primaryColor;
    opacity: 0.98;
    z-index: 1000;
  
    .container {
      height: 100%;
      justify-content: space-between;
      align-items: stretch;
      padding: 0 $freeSpace 0 $freeSpace;
  
      .logo {
        background-image: url('../images/logo2.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        width: 750px;
        height: $headerHeight;
      }
    }
  }