/*Some variables (colors and paddings)*/
$blackColor: #333;
$whiteColor: #fff;
$greyColor: #e8e8e8;
$primaryColor: #696969;
$footerColor: #808080;
$secondaryColor: #d9ab4d;
$successColor: #87bf0a;
$errorColor: #e82c0c;
$freeSpace: 10px;
$footerHeight: 49px;
$headerHeight: 139px;
$borderRadius: 2px;

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  color: $blackColor;
  background-color: lighten($greyColor, 7);
  padding-top: $headerHeight + $freeSpace;
}

/*Import all other scss*/
@import 'resetStyles';
@import 'links';
@import 'grid';
@import 'fonts';
@import 'forms';
@import '../../node_modules/medium-editor/src/sass/medium-editor';
@import 'header';
@import 'main';
@import 'footer';
@import 'components/postStyle';
@import 'components/authForm';