<footer class="footer">
    <div class="container">
      For Web Programming course 2019
    </div>
  </footer>

<script src="/javascripts/jquery.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>
</body>

</html>