<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JS Project</title>
  <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/styles.css') %>">
</head>

<body>
  <header class="header">
    <div class="container">
      <a href="/" class="logo"></a>
    </div>
  </header>