<div class="sidebar">
  <div class="box auth">
    <% if(!user.id && !user.login) { %>
    <form method="post" class="login">
      <h3>Вход</h3>
      <div class="form-group">
        <label for="login-login">Логин</label>
        <input type="text" id="login-login" name="login" />
      </div>
      <div class="form-group">
        <label for="login-password">Пароль</label>
        <input type="password" id="login-password" name="password" />
      </div>
      <div class="buttons">
        <button class="switch-button secondary-inverse">Регистрация</button>
        <button class="login-button">Войти</button>
      </div>
    </form>

    <form method="post" class="register">
      <h3>Регистрация</h3>
      <div class="form-group">
        <label for="register-login">Логин</label>
        <input type="text" id="register-login" name="login" />
      </div>
      <div class="form-group">
        <label for="register-password">Пароль</label>
        <input type="password" id="register-password" name="password" />
      </div>
      <div class="form-group">
        <label for="register-password-confirm">Повторите пароль</label>
        <input
          type="password"
          id="register-password-confirm"
          name="passwordConfirm"
        />
      </div>
      <div class="buttons">
        <button class="switch-button secondary-inverse">Вход</button>
        <button class="register-button">Регистрация</button>
      </div>
    </form>

    <% } else { %>
    <p>
      Привет, <b><%= user.login %>!</b> <br />
      <br />
      <a class="sidebar-link" href="/">На главную</a>
      <br />
      <a class="sidebar-link" href="/users/<%=user.login %>">Посмотреть свои посты</a>
      <br />
      <a class="sidebar-link" href="/post/add">Добавить пост</a>
      <br />
      <a class="sidebar-link" href="/api/auth/logout">Выход</a>
    </p>
    <% } %>
  </div>
  <div class="box">
    <h4>Добро пожаловать в небольшой блог</h4>
    Что можно делать в этом блоге?<br />
    <i>
      - Зарегистрироваться<br />
      - Создать свой первый пост<br />
      - Просмотреть чужие посты<br />
      - Удалить свой пост<br />
      - И многое другое в новых релизах :)<br />
    </i>
  </div>
</div>
