.auth {
    display: flex;
    flex-direction: column;
  
    h2 {
      margin-top: 0;
      font-size: 1.7em;
    }
  
    form {
      .buttons {
        display: flex;
        justify-content: space-between;
        button {
          padding-left: 12px;
          padding-right: 12px;
        }
      }      
    }
    .register {
      display: none;
    }
  }