.post {
    display: flex;
    flex-direction: column;
    border: 1px solid $greyColor;
    padding: $freeSpace;
    margin-bottom: $freeSpace;
    background-color: $whiteColor;
  
    .top {
      h2 {
        margin-top: 0;
        padding-left: 1%
      }
    }
    .body {
      p {
        text-align: justify;        
        padding-right: 2.2%;
        padding-left: 2.2%;
      }
    }
  
    .bottom {
      font-size: 0.9em;
      display: flex;
      margin-top: 15px;
      justify-content: space-between;
    }
  }

  .add-post {
    margin-bottom: $freeSpace;
    padding: $freeSpace;
    width: 100%;
    min-height: 100px;
    border: 1px solid $greyColor;
    background-color: $whiteColor;

    h2 {
      margin-top: 0;
      margin-bottom: 30px;
    }
    form {
      .buttons {
        display: flex;
        justify-content: flex-end;
  
        button {
          margin-left: $freeSpace * 2;
        }
      }
      #post-body {
        min-height: 200px !important;
        background-color: $whiteColor !important;
        border: 1px solid $greyColor;
        padding: 8px 10px;
        outline: none;
      }
    }

    .title-input
    {
        font-size:24px;
    }

    .add-titles
    {
      font-size:24px;
      font-weight: bold;
    }
  }